.like-icon {
  padding: 0.5rem;
  background-color: grey; 
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.25s;
  margin: 10px;
}

.like-icon.liked {
  background-color: #9e2a2b; 
}
