nav {
  background-color: #FFF8CE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  font-size: 20px;
  height: 11vh;
  width: 100vw;
}

nav > img {
  height: 3rem;
  width: auto;
}

nav > a {
  text-decoration: none;
  color: #2c2c2c;
}

.modal {
  background-color: #FFF8CE;
  padding: 20px;
  height: auto;
  border-radius: 20px;
}

.modal-content > span {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  nav > img {
    margin-bottom: 10px;
  }
}

